body {
  background-color: aliceblue;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: .2rem;
  padding: .3rem;
  
}
